style.css
* {
	margin:0px;
	padding:0;
	width:960px;
	color:#777777;
}
header{
border-style:solid;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-bottom-width:1px;
border-color:#cccccc; 
}
body {
	background-image: url("assets/images/topography.png");
}
/*nav bar--------------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
}

li a {
	float: right;
    display: block;
    text-align: center;
    color:#666666;
    padding: 14px 5px;
    text-decoration: none;
    margin-right:30px;
}
#contact {
	padding-right:160px;
}
#name {
	position:relative;
	left:110px;
	top:45px;
	width:220px;
	font-size:25px;
	font-family: "Georgia","Times", "Times New Roman",serif;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:0px;
	margin-right:33%;
	color:#ffffff;
	background-color: #4aaaa5;
	display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
/*sidebar------------------------------*/

.sidebar {
	position:relative;
	float:right;
	width:230px;
	margin-left:30px;
	border-style:solid;
	border-width:thin;
	border-color:#dddddd;
	margin-top:50px;
	margin-right:190px;
	text-align:center;
	padding:20px;
	background-color:#ffffff;
	font-size:18px;
	font-weight:bold;
}
.icon {
	position:relative;
	width:25%;
	height:25%;
}
#stackoverflow{
	width:23%;
	height:25%;
	padding-bottom:2px;
	padding-left:1px;
}

/*---------main text-------------------*/
.mainBody {
	background-color:#ffffff;
	border-style: solid;
	border-color:#dddddd;
	border-width:thin;
	margin-right:503px;
	margin-left:110px;
	margin-top:50px;
	margin-bottom:50px;

}
h3 {
	padding-bottom:20px;
	color: #4aaaa5;
	font-weight:bold;
}

p {
	font-size:16px;
	font-family:"Arial", "Helvetica Neue","Helvetica",sans-serif;
	position:relative;
	top:20px;
	left:30px;
	line-height: 24px;
	margin-right:20%;
	margin-left:7%;

}

h1 {
	padding:20px;
	margin:0px 60px;
}

hr {
   height: 0;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
}


.links {
	display:block;
	position:relative;
	top:-25px;
	right:40px;
	left:10px;
	margin-left:1px;
	margin-right:auto;
	margin-bottom:;
	background-color: #ffffff;
	color:#cccccc;
	width:10%;
	float:right;
	font-family: "Georgia","Times", "Times New Roman",serif;

}
.title {
	color:#4aaaa5;
	font-family: "Georgia","Times", "Times New Roman",serif;
	font-size:25px;
	font-weight:bold;
	margin:0px 81px;
	padding-top:40px;
	padding-bottom:25px;
	border-style:solid;
	border-width: thin;
	border-left-width:0;
	border-right-width:0;
	border-top-width:0;
	border-color:#cccccc;
}
.bioImage {
	position:relative;
	float:left;
	width: 200px;
    length: 300px;
    height:150px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 20px;
    padding-bottom:0;
    margin-left: 60px;

}
/*sidebar, something to do with alignment-------------------*/
aside {
	max-width: 270px;
	background-color: #ffffff;
}
/*css for contact page forms------------------------------------*/
form {
	margin-left:80px;
	padding:20px 0px;
	font-size:15px;
	font-family:"Arial", "Helvetica Neue","Helvetica",sans-serif;
}
input {
	width:80%;
	padding: 10px 2px;
    margin: 8px 0;
    box-sizing: border-box;
}


textarea {
	margin-left:0px;
	padding:20px 0px;
}
input.submit{
	background-color: #4aaaa5;
	color:#ffffff
	clear:both;
}
/*images on portfolio page----------------*/
.tile {
	position:relative;
	box-sizing: border-box;
	width:270px;
	padding:15px;
	margin-left:60px;
}

#rightTile, #rightTileTwo {
	
	position:relative;
	float:right;
	bottom: 455px;
	right:30px;

	box-sizing: border-box;
	width:270px;
	padding:15px;
	margin-right:10px;
	
}
/*banners over images----------------*/
.banner {
  font-size:16px;
  font-family: "Georgia","Times", "Times New Roman",serif;
  background-color: #4aaaa5 ;
  color: white;
  text-align: center;
  box-sizing:border-box;
  width: 240px;
  padding:15px;
}
  #hangman{
  margin-left:120px;
  position:absolute;
  top:340px;
  left:66px;	
}
#rpg{
  margin-left:10px;
  position:absolute;
  top:340px;
  left:454.5px;	
}
#rutgers{
  margin-left:10px;
  position:absolute;
  top:490px;
  left:454.5px;	
}
#trivia{
  margin-left:120px;
  position:absolute;
  top:490px;
  left:66px;	
}
#rock{
  margin-left:120px;
  position:absolute;
  top:645px;
  left:66px;	
}

/*------------------footer----------*/
.footer{
	background-color:#666666;
	postion:absolute;
	left:0; right:0; bottom:0;
	height:20px;
	padding:20px;
	text-align: center;
	color:#ffffff;
	font-size:8px;
	font-family:"Arial", "Helvetica Neue","Helvetica",sans-serif;;
	clear:both;
	border-top:5px solid #4aaaa5;
}


	
